.accordion {
    width: 67%;
    margin: auto;
    
    @media (max-width:767px) {
        width: 100%;
    }

    .accordion-heading {
        position: relative;
        border-top: solid 1px $color-lightBlue;
        color: $color-black;
        opacity: .6;
        width: 100%;
        display: block;
        padding: 1em 1em 1em 3em;
        cursor: pointer;

        &:before {
            position: absolute;
            content: "";
            width:.6rem;
            height: .6rem;
            border-radius: 50%;
            background-color: black;
            left: 1.5em;
            top: 0;
            bottom: 0;
            margin: auto;
            opacity: .3;
        }

        .icon-flecha-accord {
            font-size: 1.8em;
            position: absolute;
            right: 4%;
            top: 13px;
            transition: all 0.3s ease-in-out;
        }

        &.active,
        &:hover {
            background-color: $color-lightBlue;
            color: $color-primary;
            opacity: 1;
            font-family: $font-bold;

            &:before {
                background-color: $color-primary;
                opacity: 1;
            }
            span {
                color: $color-black;
            }
            .icon-flecha-accord {
                -ms-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }

    li {
        position: relative;
        margin-bottom: 0;
        
        .accordion-content {
            display: none;
            padding: 2em 3em 1.5em;

            &.active {
                display: block
            }
            .subtitle-heading {
                color: $color-black;
                font-size: .9em;
            }
            .subtitle-heading2 {
                font-size: 1em;
                margin-bottom: 0;
                margin-top: 1em;
                color: $color-primary;
            }
            .text-ext {
                font-size: 1.3em;
                margin: 1em 0;
            }
            .content-icon {
                width: 1.3em;

                .icon-acc-int {
                    font-size: .8rem;
                    color: $color-primary;
                }
            }
            .a-wts {
                margin-left: 1.2em;
            }
        }
    }
}