.sct-banner {
    background-color: $color-primary;
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    .font-regular {
        font-size: 1.35em;
    }

    .subtitle-banner {
        font-size: 1.15em;
        font-family: $font-regular;
    }
    .p-internas {
        width: 48%;
        margin: auto;
        font-size: 0.95rem;

        &.p2 {
            font-size: 1.3em;
        }

        @media (max-width:991px) {
            width: 95%;
        }
    }
    .img-banner {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .8;
    }

    .content-text-banner {
        position: absolute;
        width: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 140px;
        color: $color-white;

        .icon-banner {
            font-size: 4.5em;
        }
        .title-banner {
            font-size: 2.2em;
        }
        .img-product-banner {
            bottom: -19vh;
        }
    }

    .icon-arrow {
        position: absolute;
        z-index: 1;
        bottom: 30px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        font-size: 1.5em;
        color: white;
    }

    .img-product-banner {
        position: absolute;
        z-index: 1;
        margin: auto;
        bottom: 0;
        left: 0;
        right: 0;
        &.llnt {
            width: 35rem;
        }
    }
}
#form-contact-us {
    padding-right: 2.5em;
}
.bsc-llanta {
    font-size: 1rem;

    a {
        padding: 6px 12px;
        background-color: $color-terciary;
        font-size: .95rem;
        border-radius: 9px;
        color: $color-white;
        margin-left: 5px;
    }
}

.degrade-int{
    background: url('../../assets/images/degrade-int.png') top left repeat-x;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
