.cerrar{
    cursor: pointer;
    right: 18px;
    top: 13px;
    opacity: 0.5;
    font-size: 1.05em;
    position: absolute;
}

.buscador{
	position:absolute;
	left:0;
	width: 88%;
    opacity: 0;
    background-color: $color-white;
    transition: opacity .5s;
    
    button {
        border: 0;
        padding: .7em 1em;
        font-size: .7rem;
        background-color: $color-primary;
        color: $color-white;
        transition: .3s;

        &:hover {
            background-color: $color-terciary;
        }
    }
}

.buscador .contenedor{
    width: 96%;
    margin: 0 auto;
    padding: 6px 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.buscador .contenedor input{
    width: 83%;
    border: 0;
    color: #d7d7d7;
    font-size: 16px;
    margin-right: 3em;
    outline: none;
}
