.wrapper-card-product {
    margin: auto;
    position: relative;
    transition: .5s;
    transform: scale(0.98);

    .link-wrapper-prod {
        outline: none;
    }

    .wrapper-img-prod {
        width: 100%;
        height: 12em;
        margin: auto;
        padding: 1em;

        &.h-auto{
            height: auto;
            padding: 2.3em 2.3em 1em 2.3em;
            transition: .5s;
        }
    }

    .content-img-prod {
        width: 100%;
        margin: auto;
        height: 100%;
    }

    .info-product {
        text-align: center;
        padding: 0 1em;
        color: $color-black;

        &.text-uppercase{
            background: #fff;
            transition: .5s;
            padding-bottom: 1em;
            padding-top: .5em;
        }

        .name-cod-prod {
            font-size: .95em;
        }

        .name-brand {
            font-size: .7em;
        }
    }

    .circle-dscto {
        width: 3.2em;
        height: 3.2em;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        color: $color-white;
        background-color: $color-terciary;
        justify-content: center;
        align-items: center;

        .font-regular {
            font-size: 1.25em;
            margin: 0;
        }
    }
}
.wrapper-price {
    .price-prod {
        font-size: 1.2em;
    }

    .price-dsct-prod {
        font-size: .8em;
        position: relative;
        opacity: .9;
        margin-right: 18px;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            right: 0;
            top: -2px;
            bottom: 0;
            background-color: $color-black;
            margin: auto;
        }

        &:after {
            content: "";
            position: absolute;
            height: 1.3em;
            top: -1px;
            bottom: 0;
            margin: auto;
            width: 1px;
            right: -10px;
            background-color: $color-black;
            opacity: .8;
        }
    }
}
@media (min-width: 992px){
    .col-1-5 {
        width: 20%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width: 1400px) and (min-width: 1200px){
    .col-1-5 {
        padding-right: 15px;
        padding-left: 15px;
        width: 25%;
    }
}
@media (max-width: 1199px) and (min-width: 992px){
    .col-1-5 {
        padding-right: 15px;
        padding-left: 15px;
        width: 25%;
    }
}
.w-100{width: 100%;}

.add-purchase.ad2b{
    margin: auto;
    background-color: $color-white;
}
.xhov {
    padding: 0 1em ;
}

.dif{
    padding-bottom: 2em;
    transition: .5s;
}
.d-block{
    display: block;
}
.wrapper-card-product:hover {
    .info-product.text-uppercase,
    .dif{
        background: $color-lightBlue;
    }
}

.wrapper-card-product .link-wrapper-prod.d-block{
    padding:0;
}

.wrapper-card-product:hover{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    z-index: 1;
    background:#fff ;    
}
.wrapper-card-product .circle-dscto.d-flex{
    left: 1em;
    top: 1em;
}

.wrapper-card-product:hover .add-purchase .btn-purchase{
    background: url('../../assets/images/hover.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-card-product:hover .trap{display: none;}
.wrapper-card-product:hover .trap2{display: block;}
.add-purchase .qty .plus.bg-dark{
    //right: 0;
}
// .add-purchase .qty .minus.bg-dark{
//     right:0px;
//     left:auto;
//     top: -3px;
// }
.content-img-prod img{
    transition: 1s;
}
.wrapper-card-product:hover img{
    transform: scale(1.1);
}