.add-purchase {
    border: 1px solid $color-secondary;
    width: 75%;
    margin: auto;
    .qty {
        width: 35%;
        position: relative;

        .count {
            width: 100%;
            text-align: center;
            border: none;
            height: 100%;
            padding-top: 5px;
        }

        .plus,
        .minus {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1em;
            height: 1em;
            margin: auto;
            cursor: pointer;
        }

        .plus {
            right: 0px;
        }

        .minus {
            left: 6px;
        }
    }

    .btn-purchase {
        width: 65%;
        background: url('../../assets/images/normal.png');
        background-repeat: no-repeat;
        background-size: cover;
        font-size: .8em;
        position: relative;        

        .link-purchase {
            float: left;
            width: 100%;
            color: $color-white;
            padding: .5em 0 .5em;
            font-size: 1.05rem;
            position: relative;
            .icon-carrito {
                font-size: 25px;
            }
        }
    }
}

span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:disabled {
    background-color: white;
}
.item-carousel {
    outline: none;
}