.wrapper-select-banner {

    .select-banner-one,
    .select-banner-medio {
        width: 13em;
    }

    .btn-bsc-select {
        height: 2.4em;
        display: inline-block;
        width: 3em;
        border-radius: 0 20px 20px 0;
        border: none;
        position: relative;
        top: 3px;
        background-color: $color-primary;
        transition: .4s;
        
        .icon-Lupa {
            font-size: 1.3rem;
            margin-left: -6px;
        }
        &:hover {
            background-color: $color-terciary;
        }
    }
    .wrapper-select-cart {
        display: inline-block;
        color: $color-black;

        .dropdown {

            select {
                background-color: $color-white;
                font-size: .8rem;
            }
        }
    }
    .select-banner-one {
        select {
            border-radius: 20px 0 0 20px;
        }
    }

    .nav-pills > .nav-link {
        float: none;
        display: inline-block;
        opacity: .8;

        .nav-link-a {
            color: $color-white;

        }

        &.active,
        &:hover {
            opacity: 1;
            .nav-link-a {
                
                .icon-tab-banner {
                    background-color: $color-primary ;
                }
            }
        }
        
    }
}