.wrapper-filter {
    background-color: $color-lightSecondary;
    width: 100%;

    .dropdown {
        width: 100%;
        transition: all 0.5s ease;
        position: relative;
        color: $color-black;
        border: none;
        text-transform: uppercase;
        outline: none;
    }

    .dropdown .select {
        height: 2.4em;
        cursor: pointer;
        display: flex;
        padding: 10px 10px 5px;
        justify-content: space-between;
        align-items: center;

        .icon-select {
            color: $color-secondary;
            font-size: 1.6em;
        }

        .title-select {
            font-size: .8em;
        }
    }

    .dropdown .select>.icon-triangle-down {
        font-size: 13px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        float: right;
    }

    .dropdown.active .select>.icon-triangle-down {
        transform: rotate(-180deg)
    }

    .dropdown .dropdown-menu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        margin-top: 1px;
        overflow: hidden;
        display: none;
        max-height: 144px;
        overflow-y: auto;
        z-index: 9;
        padding: .7em;
        list-style: none
    }

    .dropdown .dropdown-menu li {
        padding: 10px 0 5px;
        transition: all .2s ease-in-out;
        cursor: pointer;
        color: $color-black;
        font-size: .8em;
    }

    .dropdown .dropdown-menu li:hover {
        background-color: #f2f2f2
    }

    .dropdown .dropdown-menu li:active {
        background-color: #e2e2e2
    }

    .dropdown-menu::-webkit-scrollbar {
        width: 10px;
    }

    .dropdown-menu::-webkit-scrollbar-track {
        background-color: rgba(20, 105, 177, .7);
    }

    .dropdown-menu::-webkit-scrollbar-thumb {
        background-color: $color-lightSecondary;
    }

}
.wrapper-select-cart {

    .dropdown {
        position: relative;
        display: block;
        padding: 0;
        height: 2.4em;

        select {
            width: 100%;
            height: 100%;
            margin: 0;
            background-color: $color-lightSecondary;
            border: 0;
            outline: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            appearance: none;
            -webkit-appearance: none;
            cursor: pointer;
            border-color: transparent ;
            padding: 0 1em ;
        }
    }

    .dropdown::after {
        content: "";
        position: absolute;
        width: 9px;
        height: 8px;
        top: 50%;
        right: 1em;
        margin-top: -4px;
        z-index: 2;
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(102,102,102)' points='8,12 0,0 16,0'/%3E%3C/svg%3E") 0 0 no-repeat;
    }

    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        .dropdown select::-ms-expand {
            display: none;
        }

        select:focus::-ms-value {
            background: transparent;
            color: #222;
        }
    }

    option {
        font-weight: normal;
        border-color: transparent ;
    }

    .output {
        margin-top: 1em;

        .stores-info {
            display: none;

            .ubication-stores {
                padding-left: 4em;
                .name-stores {
                    font-size: 1em;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    .icon-warning {
                        font-size: .8em;
                        color: #ffbc33;
                    }
                }
                .distrito-stores {
                    font-size: .9em;
                    text-transform: uppercase;
                }
            }
        }
        .div-alert {
            background-color: $color-alert;
            padding: 1em .3em 1em 1em;
            width: 95%;
            margin: 1em auto;
            
            .wrapper-warning {
                margin-right: 8px;
                .icon-warning {
                    font-size: 2rem;
                    color: #ffbc33;
                }
            }
            .p-internas {
                margin-bottom: 0;
            }
        }

        .map-stores {
            width: 100%;
            height: 12rem;
            margin: 1em 0;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.select-int {
    
    .title-left-select {
        font-size: .85rem;
        margin-right: 1em;
    }

    .wrapper-select-cart {
        width: 16rem;
        display: inline-block;
    }
}