.wrapper-tabs-pago {

    .nav-pills>li.active>a,
    .nav-pills>li.active>a:hover,
    .nav-pills>li.active>a:focus {
        color: $color-black;
        background-color: transparent;
        border: 0;
    }

    .nav-tabs {
        border: 0;
        margin-bottom: .8em;

        >li>a:hover {
            border-color: transparent;
        }

        .nav-link {

            .icons-lista {
                width: 1.25rem;
                height: 1.25rem;
                display: inline-block;
                border: 1px solid rgba(0, 0, 0, .5);
                border-radius: 50%;
                position: relative;
                margin-right: 1em;
                top: 4px;

                &:before {
                    position: absolute;
                    content: "";
                    width: 70%;
                    height: 70%;
                    background-color: $color-primary;
                    border-radius: 50%;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    left: -.5px;
                    right: 0;
                    transform: scale(0);
                    transition: .2s;
                }
            }

            &.active {

                .icons-lista {
                    border-color: $color-primary;

                    &:before {
                        transform: scale(1);
                    }
                }
            }

            .nav-link-a {
                color: $color-black;
                font-size: .9em;
            }
        }
    }
}