.h100 {
    height: 100%;
}
.w100 {
    width: 100%;
}
.m-auto {
    margin: auto;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.my-0 {
    margin-bottom: 0;
    margin-top: 0;
}
.pos-abs {
    position: absolute;
}
/*************
    FLOAT
*************/
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/*************
    DISPLAY
*************/
.d-in-block {
    display: inline-block;
}
.d-flex{
    display: flex;
}
.flex-al-cent {
    display: flex;
    align-items: center;
}
.just-cent {
    justify-content: center;
}
.sp-betw {
    justify-content: space-between;
}
.sp-arrow{
    justify-content: space-around;
}
/*****************
    TYPOGRAFIA
*****************/
.font-bold {
    font-family: $font-bold;
}
.font-regular {
    font-family: $font-regular;
}
.p-internas {
    font-family: $font-regular;
    font-size: .8em;
    line-height: 1.5;
    margin-bottom: .7em;
}
/*************
    COLORS
*************/
.color-primary {
    color: $color-primary;
}
.bg-lightSecondary {
    color: $color-lightSecondary;
}
.color-black {
    color: $color-black;
}
/*************
    IMAGES
*************/
.img100-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*************
    PADDING
*************/
.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.col-center {
    float: none;
    margin: auto;
}