@font-face {
    font-family: 'barlowbold';
    src: url('../fonts/barlow-bold_0-webfont.woff2') format('woff2'),
         url('../fonts/barlow-bold_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowregular';
    src: url('../fonts/barlow-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/barlow-regular_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// ICONOS
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wq1i0m');
  src:  url('../fonts/icomoon.eot?wq1i0m#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wq1i0m') format('truetype'),
    url('../fonts/icomoon.woff?wq1i0m') format('woff'),
    url('../fonts/icomoon.svg?wq1i0m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bread-flec:before {
  content: "\e900";
  color: #736d6d;
}
.icon-instagram:before {
  content: "\e901";
}
.icon-accesorios:before {
  content: "\e902";
}
.icon-arrow:before {
  content: "\e903";
}
.icon-auto:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-carrito:before {
  content: "\e906";
}
.icon-como-comprar:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-flecha-accord:before {
  content: "\e909";
}
.icon-fondoWts:before {
  content: "\e90a";
}
.icon-formas-de-pago:before {
  content: "\e90b";
}
.icon-garantias:before {
  content: "\e90c";
}
.icon-libro-reclamos:before {
  content: "\e90d";
}
.icon-liquidacion:before {
  content: "\e90e";
}
.icon-llanta:before {
  content: "\e90f";
}
.icon-Lupa:before {
  content: "\e910";
}
.icon-nosotros:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-phone2:before {
  content: "\e913";
}
.icon-que-saber:before {
  content: "\e914";
}
.icon-sobreBig:before {
  content: "\e915";
}
.icon-term-y-cond:before {
  content: "\e916";
}
.icon-tiendas:before {
  content: "\e917";
}
.icon-trab-con-nos:before {
  content: "\e918";
}
.icon-ubc:before {
  content: "\e919";
}
.icon-visa:before {
  content: "\e91a";
}
.icon-wts:before {
  content: "\e91b";
}
.icon-email:before {
  content: "\e91c";
}
.icon-whatsapp:before {
  content: "\e91d";
}
.icon-youtube:before {
  content: "\e91e";
}
.icon-contacto:before {
  content: "\e91f";
}
.icon-hamb-close:before {
  content: "\e920";
}
.icon-hamb-open:before {
  content: "\e921";
}
.icon-ped-especial:before {
  content: "\e922";
}
.icon-play-circle:before {
  content: "\e923";
}
.icon-delete:before {
  content: "\e924";
}
.icon-circle:before {
  content: "\e925";
}
.icon-warning:before {
  content: "\e926";
}



