.description-page {
    width: 59.5%;
    margin: auto;
    padding-bottom: 2em;

    .text-page {
        font-size: 1.03em;
        line-height: 1.5;
    }
}

.breadcrumb {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    left: 8%;

    .bread-item {
        font-size: .7rem;
        position: relative;
        margin-right: 10px;
        opacity: .85;

        .bread-link {
            color: $color-white;
        }
        &:before {
            content: '';
            position: absolute;
            background: url('../../assets/images/icons/bread-flec.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 8px;
            height: 100%;
            right: -12px;
            top: 3px;
            margin: auto;

        }
        &:last-child:before{
            display: none;
        }
        &.active {
            font-weight: bold;
            opacity: 1;
            font-size: .65rem;
        }
    }
}
.ubication-stores {
    position: relative;

    &:before {
        position: absolute;
        content: '\e917';
        font-family: 'icomoon' !important;
        left: 8px;
        font-size: 2.3em;
        color: $color-primary;
    }
}

.list-hom-dest-of {
    text-align: center;
    li {
        display: inline-block;
        margin: 0 2rem;
        a {
            color: black;
            opacity: .6;
            font-size: 1.2rem;
        }
        &.active {
            a {
                color: $color-primary;
                opacity: 1;
            }
        }
    }
}