/*************
    COLORS
*************/
$color-primary: #1469b1 ;
$color-secondary: #008fd1;
$color-terciary: #cf1723;
$color-lightBlue: #e5f4fa;
$color-lightSecondary: #f2f9fd;
$color-white: #fff;
$color-black: #000;
$color-alert: #fff8ea;
$color-gray: #929292;
$color-grayLight: #f2f2f2;
$bg-celeste: #63bae3;

/*****************
    TYPOGRAFÍA
*****************/
$font-bold: 'barlowbold';
$font-regular: 'barlowregular';