.form-claim-book {
    padding: 3em 0;

    .form {

        .info-company-cb {
            .p-internas {
                line-height: 1;
                margin-bottom: .3em;
            }
        }

        .form_textarea {
            height: 7em !important;
        }

        .form_textarea {
            background-position: -1070px 0;

            &:focus {
                background-position: 0 0;
            }
        }
        .title-claim-book {
            font-size: 1em;
            margin-top: 2.8em;
            margin-bottom: 1.4em;
        }
    }
}
.select-circle {
            
    .checkbox {
        padding: 0;
        margin-right: 1.8em;

        .helper {
            border-radius: 50%;
            width: 1.7em;
            height: 1.7em;

            &:after {
                display: none !important;
            }

            &:before {
                width: 70%;
                height: 70%;
                border-radius: 50%;
                top: 1.05rem;
                left: 0.55rem;
            }
        }
        input:checked ~ .helper::before {
            height: 70%;
        }

        span {
            font-size: 1.3em;
        }
    }
}
