.form-contact-us {
    padding: 4em 0;

    .form .form_textarea {
        background-position: -1060px 0;
        height: 7.4rem;
        &:focus {
            background-position: 0 0;
        }
    }
}

.info-form-contact {
    margin-bottom: 1.3em;

    .icon-info-form {
        margin-right: .5em;
        .icons-cntc {
            color: $color-primary;
        }
    }

    .info-descrp {
        .p-internas {
            line-height: 1;
            margin-bottom: 0;
        }

        .text-phns,
        .p-internas {
            color: $color-black;
        }

        .text-phns {
            font-size: 1.2rem;
        }
    }
}