.details-products {
    padding-top: 6em;

    .img-detail-product-brand {
        width: 10.3em;
        margin-bottom: .5em;
    }

    .text-dscr-cond {
        margin: 1.3em 0;
    }
    .marca-descrp {
        font-size: .95rem;
    }
    .modal-map {
        font-size: .75rem;
        margin: 1em 0;

        .icon-ubc {
            font-size: 1.2rem;
        }

        .ver-map {
            color: $color-black;
            transition: .3s;
            &:hover {
                color: $color-primary;
            }
        }
        .button {
            border: 0;
            background-color: transparent;
        }
        .modal {
            visibility: hidden;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
        }
        .modal_inner {
            width: 70%;
            padding: 1.5rem;
            border-radius: 2px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            opacity: 0;
            transform: scale(0.8);
            transition: all 0.3s;

            .modal_header {
                color: $color-white;
                font-size: 1.7rem;
                padding: .5em 0;
            }
            .modal_body {
                background-color: $color-white;
                border-top: 8px solid $color-primary;
                iframe {
                    width: 100%;
                    height: 24rem;
                }
            }
        }
        .modal.-open {
            visibility: visible;
            background-color: rgba(0, 0, 0, 0.7);
        }
        .modal.-open .modal_inner {
            opacity: 1;
            transform: scale(1);
        }
    }

    .btn-comprar-detail {
        background-color: $color-lightBlue;
        padding: 1em;

        &.btn-comprar-scroll {
            position: fixed;
            top: 12.5vh;
            z-index: 100;
            width: 769.25px;
        }

        .wrapper-price {
            width: 38%;
            padding-top: 1rem;

            .price-prod {
                font-size: 1.8em;
                margin: 0;
            }

            .price-dsct-prod {
                font-size: 1.1em;
            }
        }

        .add-purchase {
            width: 55%;
            border-color: transparent;
            background-color: $color-white;

            .qty {
                font-size: 1.45em;
            }

            .btn-purchase {
                font-size: 1.5em;
                background: url('../../assets/images/hover.png');
                background-repeat: no-repeat;
                background-size: cover;
                transition: .3s;

                &:hover {
                    background: url('../../assets/images/normal.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .link-purchase {
                    font-size: 1.55rem;
                    .icon-carrito {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .tabs-info-product {
        .tabs{
            margin: 0px;
            padding: 0px;
            list-style: none;
            padding-top: 10px;

            .tab-link {
                background: none;
                color: #222;
                display: inline-block;
                padding: 10px 15px;
                cursor: pointer;
                font-size: .8rem;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 3px;
                    background-color: $color-primary;
                    transition: .3s;
                    left: 0;
                    bottom: 0;
                }
                &.current{
                    font-family: $font-bold;
                    color: $color-primary;

                    &:before {
                        width: 100%;
                    }
                }
            }
            
        }
        
        .tab-content{
            display: none;
            background: #ededed;
            padding: 15px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        }
        
        .tab-content.current{
            display: inherit;
        }
    }
    .sct-select-detail {
        background-color: $bg-celeste;
        padding: .6rem 0;

        .wrapper-select-cart {
            display: flex;
            align-items: center;
            justify-content: center;

            .title-slct-descr {
                font-size: .75rem;
                color: white;
                margin-right: 12px;
            }
            .dropdown {
                height: 100%;

                select {
                    background-color: $color-primary;
                    border-radius: 20px;
                    color: $color-white;
                    height: 90%;
                    font-size: .75rem;
                    padding: 1em;
                }
            } 
            .button.dropdown {
                width: 12.5rem;
            }

        } 
        .wrapper-filter {
            background-color: $color-white;

            .select {
                height: 1.8rem;
                justify-content: inherit;

                .form__label  {
                    position: absolute;
                    font-size: .7rem;
                }
            }
        }
        .output {
            margin-top: 0;
            margin-left: 15px;
            .dropdown {
                height: auto;
            }
            .select-banner-one,
            .select-banner-medio {
                width: 9rem;
                margin-right: 3px;
            }
            .select-banner-one {
                .wrapper-filter {
                    border-radius: 20px 0 0 20px;
                }
            }
            .btn-bsc-select {
                border-radius: 0 20px 20px 0;
                border: 0;
                background-color: $color-terciary;
                color: $color-white;
                width: 2.2rem;
                height: 1.8em;
            }
        }
    }
    .modal-map {
        padding-left: 1em;
    }
}

.product-related {
    padding-top: 2.5em;

    .title-product-related {
        font-size: 2rem;
        margin-bottom: 1.8em;
    }
}
.img-big-detail-product {
    text-align: center;
    
    .img-dproduct {
        height: 32rem;
    }
}
.circle-dsct {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: #cf1723;
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    top: 0;
}

.sct-select-detail {
    background-color: $color-secondary;
}
.sct-detail-product {
    padding-top: 4em;

    .ubication-stores {
        padding-left: 1em !important;
        &:before {
            display: none;
        }
    }
}
.bread-detail {
    .breadcrumb {
        left: 0;
        bottom: 20px;
        .bread-item {
            .bread-link {
                color: $color-black;
            }
        }
    }
}
.list-descr-detall {
    line-height: 1.2;
    >div {
        margin-right: 5px;
        font-size: .85rem;
        width: 3.6rem;
        position: relative;
        &:before {
            content: ":";
            position: absolute;
            right: 0;
        }
    }
}

