.main-home {
    .content-text-banner {
        position: absolute;
        top: 43%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 11;

        .title-banner,
        .bsc-llanta {
            color: $color-white;
        }

        .img-product-banner {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 10;
            bottom: -32vh;
        }
    }

    .btn-bsc-select {
        background-color: $color-primary;
        color: $color-white;
    }
}
.content-text-banner {

    .tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;

        .tab-link {
            background: none;
            color: $color-white;
            display: inline-block;
            padding: 10px 25px;
            cursor: pointer;
            position: relative;
            opacity: .7;

            .btn-icircle {
                position: absolute;
                width: 1.2rem;
                right: -7px;
                top: 24px;
                background-color: transparent;
                border: 0;
                img {
                    width: 100%;
                }
            }
            .icon-tab-banner {
                color: $color-white;
                border-radius: 50%;
                padding: 10px;
                font-size: 2.15rem;
            }
            &.current,
            &:hover {
                opacity: 1;
                    
                .icon-tab-banner {
                    background-color: $color-primary ;
                }
            }
        }
        
    }

    .tab-content {
        display: none;
        padding: 15px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    .tab-content.current {
        display: inherit;
    }
    .img-product-banner {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 10;
        bottom: -32vh;
    }
}

.sct-video {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .degrade {
        background: url('../../assets/images/Sombra_1px_900.png');
        background-repeat: repeat;
        background-size: 100% 100%;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .bg-blue {
        background-color: $color-primary;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .15;
        z-index: 9;
    }
}

.slick-list {
    padding: 3em 0;
}

.slick-dots {
    text-align: center;

    li {
        background-color: $color-gray;
        opacity: .5;
        display: inline-block;
        margin: 5px;
        border-radius: 50%;
        width: 1em;
        height: 1em;
        position: relative;
        cursor: pointer;

        button {
            border: none;
            color: transparent;
            width: 65%;
            height: 65%;
            border-radius: 50%;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transform: scale(0);
        }

        &.slick-active {
            border: 1px solid $color-primary;
            opacity: 1;
            background-color: $color-white;

            button {
                border: none;
                color: transparent;
                background-color: $color-primary;
                width: 65%;
                height: 65%;
                border-radius: 50%;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                transform: scale(1);
            }
        }

    }
}

.sct-oferts {
    .nav {
        margin: auto;
        width: max-content;
    }

    .titles-int-home {
        font-size: 1.3em;
    }

    .nav-link {
        .titles-int-home {
            color: $color-gray;
        }

        &.active {
            .titles-int-home {
                color: $color-primary;
            }
        }
    }
}

#fullpage {
    .section {
        padding-top: 2vh;

        @media (min-width: 1300px) {
            padding-top: 16vh;
        }


        &:first-child,
        &:last-child {
            padding-top: 0;
        }

        &.fp-auto-height {
            height: auto !important;

            .fp-tableCell {
                height: auto !important;
            }
        }
    }
}

.fsb {
    font-size: 2.5em;
}

.mll {
    line-height: 61px !important;
    padding-left: 3.5em !important;
    padding-right: 1.7em !important;
}

.mll .icon-llanta,
.mll .icon-auto {
    position: absolute;
    left: 0;
}

.mll img {
    width: 25px;
    position: absolute;
    top: 23px;
    right: 0;
}

@media (max-width:767px) {
    .mll {
        line-height: normal !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .mll .icon-llanta,
    .mll .icon-auto {
        position: relative;
        margin-bottom: 10px;
    }

    .mll img {
        width: 21px;
        bottom: 35px;
        top: auto;
    }
}