.wrapper-passed {
    width: 55%;
    margin: 1.5em auto;

    @media (max-width: 1550px) {
         width: 90%;
    }

    .content-svg-number {
        height: 12.3em;
        position: relative;
        svg {
            height: 100%;
        }
        .cls-1 {
            fill: none;
            stroke: #000;
            stroke-width: 2px;
            opacity: 0.1;
            stroke-miterlimit: 15;
        }
        .passed {
            position: absolute;
            bottom: -10px;
            left: 0;
            right: 0;
            font-size: 3em;
            margin: 0;
            color: $color-primary;
        }
    }

    .info-passed {
        height: 6.3em;
        margin-top: 2em;

        .title-passed {
            font-size: 1.05em;
        }

        .p-internas {
            line-height: 1.2;
        }
    }

    .btn-passed {
        font-size: 3.3em;
        color: $color-secondary;
        text-align: center;
    }
}