@media (max-width:575px) {
    .accordion {
        .accordion-heading {
            padding: 1em 1.3em 1em 1.5em;
            &:before {
                left: .5em;
            }
            .icon-flecha-accord {
                right: 0;
            }
        }
        li .accordion-content {
            padding: 2em 1em 1.5em;
        }
    }
    .img-trjt {
        width: 8.3em !important;
        margin: .3em;
    }
    .payment-methods .div-imgs .content-imgs-trjt {
        padding: 0;
    }
    .form-special-order {
        .form__wrapper.h100 {
            height: auto !important;
        }
    }
    .wrapper-passed {

        .info-passed {
            height: auto;
        }
    }
    .our-services{
        padding: 0;
        .col-service{
            padding: 0;
            &:nth-child(even) {
                background-color: transparent;
            }
            .info-service {
                width: 100%;

                .link-mas-info {
                    position: relative !important;
                }
            }
            .img-service {
                position: absolute;
                z-index: -1;
                opacity: .15;
                width: 100%;
                height: 100%;
            }
        } 
    } 
    
    .main-shopping-cart .select-circle .img-tarjetas {
        position: relative;
        left: 0;
    }
    .checkbox {
        padding: 0;
    }
    .sct-banner .content-text-banner {
        bottom: 30px;

        .title-banner {
            font-size: 1.65em;
        }
        .icon-banner {
            font-size: 4em;
        }
    }
    .select-int {
        .select-filter {

            .wrapper-filter {
                width: 62% !important;
            }
        }
    }
    .form-claim-book {
        .container {
            >.row {
                padding: 0 15px;
            }
        }
    }
    .img-big-detail-product .img-dproduct {
        height: 14rem;
    }
    .wrapper-footer .bg-suscription .wrapper-suscription .content-input-susc input {
        width: 65%;
    }
    .main-shopping-cart .wrapper-pay .discount-coupon .pd-pay {
        padding: 1em 1em;
    }
    .title-mob-sus {
        display: block;
    }
    .title-dskt-sus,
    .icon-sobreBig {
        display: none;
    }
    .info-company {
        .content-img-mv {
            margin-top: 1.8em;
        }
        .title-mv {
            padding: 1.5em 0 0em;
        }
    } 
    .form-special-order,
    .form-work-whith-us,
    .form-contact-us {
        >.container {
            >.row {
                margin: auto;
            }
        }
    }
    .wrapper-select-banner {
        .nav-tabs {
            display: flex;
            justify-content: center;
        }
        .select-banner-medio,
        .select-banner-one {
            width: 5em;
        }

    } 
    .sct-product {
        .title-busq {
            font-size: 1em;
            padding-top: .5rem;
        }
        .select-filter {
            padding-top: 1em;
        }
    } 
    .main-shopping-cart .table-cart .table-detail-cart .celda-detail .add-purchase .qty {
        width: 100%;
    }
    .xhov {
        padding: 0 2em;
    }
    .sct-oferts .titles-int-home {
        font-size: 1.1em;
    }
    .details-products{
        .btn-comprar-detail {
            background-color: #e5f4fa;
            padding: 16px 0;
            position: fixed;
            bottom: 0;
            z-index: 1;
            left: 0;
            &.btn-comprar-scroll {
                top: inherit;
                width: 100%;
            }
            .wrapper-price{
                .price-dsct-prod {
                    font-size: .7em;
                }
                .price-prod {
                    font-size: 1em;
                }
            } 
        }
        
    } 
    #navbar-right {
        .list2-nav-right {
            padding: 1em 0;
        }
        .wrapper-phones-navr {
            margin: .5em 0 1em;
            padding: 0 1em;
        }
        .list-big-nav-right .item-big .link-big {
            font-size: 1.15em;
        }
    }
    .wrapper-redsocials-r {
        padding: 0 1em;
    }
    .wrapper-header {
        >.container-fluid {
            >.container {
                padding-top: 5px;
            }
        }
    }
}
@media (min-width:576px) and (max-width:767px) {
    .img-big-detail-product .img-dproduct {
        height: 23rem;
    }
    .sct-banner .content-text-banner {
        bottom: 24px;
    }

}
@media (min-width:768px) and (max-width:991px) {
    .accordion {
        width: 100%;
    }
    .wrapper-passed {
        width: 85%;

        .info-passed {
            height: 9em;
        }
    }
    .img-big-detail-product .img-dproduct {
        height: 23rem;
    }
    #navbar-right {
        width: 60%;
    }
    .main-shopping-cart .table-cart .table-detail-cart .celda-detail .content-img-cart .img-detail-cart {
        left: 0.3em;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .accordion {
        width: 90%;
    }
    .our-shops {
        .accordion {
            width: 50%;
        }
        .wrapper-map-desktop {
            width: calc(100% - 50%);
        }
    } 
    .wrapper-header .menus {
        .navbar-principal .nav-list .nav-item .nav-link {
            padding: 0.7em 1em;
            font-size: 0.9em;
        }
        #menu-btn {
            right: -35px;
        }
    }
    .img-logo {
        width: 15em;
    }
}
@media (min-width:1200px) and (max-width:1399px) {
    .wrapper-footer .bg-suscription .wrapper-suscription {
        padding: 0 18rem;
    }
    .sct-video .img-product-banner {
        width: 29rem;
    }
    .slick-list {
        padding: 1.1em 0;
    }
    .wrapper-header .menus .navbar-principal .nav-list .nav-item .nav-link {
        padding: 0.6em 1.15em;
    }
    #navbar-right {
        padding-top: 1.5em;
        width: 44vw;
        .list-big-nav-right .item-big {
            line-height: 2;
        }
    }
    .title-busq {
        font-size: 1.3em;
    }
    .sct-banner {
        height: 80vh;
    }
    .xhov {
        padding: 0;
    }
    .main-home .content-text-banner .img-product-banner {
        bottom: -26vh;
    }
}
@media (min-width:1400px) and (max-width:1600px) {
    .wrapper-footer .bg-suscription .wrapper-suscription {
        padding: 0 16rem;
    }
}
@media (max-width:767px) {
    .description-page {
        width: 100%;
    }
    
    .info-company .content-vm {
        padding-bottom: 2em;
    }

    .product-related .title-product-related {
        font-size: 1.4rem;
    }

    #navbar-right {
        width: 100%;
        overflow: scroll;
    }
    .sct-banner{
        height: 71vh !important;
        .icon-arrow {
            display: none;
        }
    } 
    .wrapper-select-banner {
        .nav-tabs {
            .nav-link {
                .nav-link-a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
    .main-shopping-cart {
        .table-cart {
            .table-detail-cart {
                display: inline-block;
                .celda-detail .content-img-cart .img-detail-cart {
                    position: relative;
                    width: 5.5em;
                    left: 0;
                }
            }
        } 
    } 
    .content-text-banner .tabs .tab-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .wrapper-select-banner {
        .tabs {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .content-text-banner .tabs .tab-link .btn-icircle {
        right: -1px;
        top: 48px;
    }
}
@media (max-width:991px) {

    .wrapper-footer {
        footer {
            padding: 0;
            padding-bottom: .3em;

            >.container {
                width: 100% !important;
            }
            .content-met-pag {
                position: relative;
                bottom: 0;
                margin-top: 3.8em;
                margin-bottom: 1em;
                .list-img-met {
                    width: 2.8em;
                }
            }

            .wrapper-nav-footer {
                padding: 0;
                >.row {
                    display: flex;
                    overflow: scroll;
                    white-space: nowrap;
                    width: 100%;
                    margin: 0;
                }
                .list-f {
                    width: auto;
                    margin-bottom: 0;
                    background-color: rgba(255, 255, 255, .08);
                    padding-top: 4px;

                    .item-f {
                        display: inline-block;

                        .link-f {
                            padding: 1em .9em 1em .5em;
                            border-right: 1px solid rgba(255, 255, 255, .3);
                            float: left;
                        }
                    }
                }
                .item-contact {
                    float: none;
                    padding: 1em 0;
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            } 

            .crd {
                flex-direction: column;
                text-align: center;
                padding: .5em 0;

                .oculMob {
                    display: none;
                }
            }
        } 
    } 
    /*form contact*/
    .mt-inf {
        margin-top: 2.5em;
    }
    #form-contact-us {
        padding-right: 0;
    }
    .form-work-whith-us {        
        .form .form_textarea {
            height: 8rem;
        }
    }
    .wrapper-passed {

        .content-svg-number {
            height: 8em;
            .passed {
                font-size: 2.4em;
            }
        }
    }
    .mb-mob {
        margin-bottom: 3em;
    }
    .our-shops .accordion {
        width: 100%;
    }

    .wrapper-header {
        >.container-fluid {
            padding: 0;
        }
        .menus {
            padding-right: 0;
            position: absolute;
            right: 15px;

            #menu-btn {
                right: 0;
                top: 6px;
            }
            .navbar-top {
                padding-right: 0;
            }
        } 
        .content-logo {
            width: 12rem;
            top: 0;
            

            .logo-mob,
            .logo-dskt {
                width: 100%;
            }
        }
    } 
    .wrapper-header:before {
        height: 4.9em;
    }
    #navbar-right {
        padding-top: 2em;
        .list-big-nav-right .item-big {
            line-height: 1.5;
        }
    }
    .main-shopping-cart {
        .pay-fixed {
            position: relative;
            padding: 0;
        }
        .wrapper-pay {
            width: 100%;
        }
    } 
    .datos-comprador {
        margin-bottom: 2em;
    }
    .main-shopping-cart {
        >.container {
            >.row {
                margin: auto;
            }
        }
    }
    .titles-mob-carr {
        font-size: 1em;
        margin-bottom: 0;
    }
    .icon-delete {
        float: right;
    }
    .list-nav-sparts {
        display: none;
    }
    .img-product-banner {
        display: none;
    }
    .wrapper-header .menus .icons-bsc-car {
        right: 63px;
    }
    .buscador{
        width: 331px;
        bottom: -56px;
        right: 0;
        left: auto;
        .contenedor input {
            width: 48%;
        }
    } 
    .wrapper-header .menus .icons-bsc-car .icon-Lupa, 
    .wrapper-header .menus .icons-bsc-car .icon-carrito {
        margin: 5px;
    }
}
@media (max-width:320px) {

    .wrapper-header .menus .icons-bsc-car .icon-Lupa, 
    .wrapper-header .menus .icons-bsc-car .icon-carrito {
        margin: 4px;
    }
    .buscador{
        width: 291px;
        bottom: -56px;
        right: 0;
        left: auto;
        .contenedor input {
            width: 48%;
        }
    } 
}