@media (max-width:767px){
    .content-text-susc,.content-input-susc{
        justify-content: center;
    }
    .content-text-susc .d-flex{
        justify-content: center;
    }
    .wrapper-footer .bg-suscription .wrapper-suscription .content-text-susc .icon-sobreBig{
        font-size: 12px;
    }
}
@media (min-width:1453px) and (max-width:1692px){
    .details-products .btn-comprar-detail .wrapper-price .price-prod{
        font-size: 1.6em;
    }
    .details-products .btn-comprar-detail .wrapper-price .price-dsct-prod{
        font-size: 0.8em;
    }
}
@media (min-width:1401px) and (max-width:1610px){
    .add-purchase .btn-purchase .link-purchase{
        font-size: 0.9rem;
    }
    .add-purchase .btn-purchase .link-purchase .icon-carrito{
        font-size: 20px;
    }
    .xhov {
        padding: 0 15px;
    }
    .add-purchase{
        width: 85%;
    }
}
@media (min-width:992px) and (max-width:1452px){
    .details-products .btn-comprar-detail .add-purchase .btn-purchase .link-purchase {
        font-size: 0.9em;
    }
    .details-products .btn-comprar-detail .add-purchase .btn-purchase .link-purchase .icon-carrito {
        font-size: 1.5rem;
    }
    .wrapper-price .price-dsct-prod:after{
        content: none;
    }
    .btn-comprar-detail .wrapper-price .price-dsct-prod{
        position: absolute;
        top: 12px;
    }
}
@media (min-width:1200px) and (max-width:1400px){
    .add-purchase .btn-purchase .link-purchase{
        font-size: 0.9rem;
    }
    .add-purchase .btn-purchase .link-purchase .icon-carrito {
        font-size: 20px;
    }
    .add-purchase{
        width: 85%;
    }
}
@media (min-width:320px) and (max-width:1199px){
    .add-purchase .btn-purchase .link-purchase{
        font-size: 0.9rem;
    }
    .add-purchase .btn-purchase .link-purchase .icon-carrito {
        font-size: 20px;
    }
    .add-purchase{
        width: 85%;
    }
}
@media (min-width:575px) and (max-width:1199px){
    .sct-product .title-busq{
        font-size: 1em;
    }
}
@media (max-width:991px){
    .details-products .btn-comprar-detail.btn-comprar-scroll{
        width: 100%!important;
        top:auto!important;
        bottom: 0;
    }
    .details-products .btn-comprar-detail.btn-comprar-scroll .scrl{
        width: 100%!important;
        padding: 1em;
    }
    .details-products .btn-comprar-detail.btn-comprar-scroll .scr2{
        margin: 0 0!important;
    }
    .lineas{
        display: none;
    }
}
@media (max-width:575px){
    .details-products .btn-comprar-detail .scrl .wrapper-price .price-prod{
        font-size: 1.4em;
    }
    .details-products .btn-comprar-detail .add-purchase .btn-purchase .link-purchase .icon-carrito {
        font-size: 15px;
    }
    .details-products .btn-comprar-detail .add-purchase .btn-purchase .link-purchase {
        font-size: 1rem;
    }
    .details-products .btn-comprar-detail .wrapper-price .price-dsct-prod {
        font-size: 0.7em;
        position: absolute;
        top: 18px;
    }
    .details-products .btn-comprar-detail .wrapper-price .price-dsct-prod:after{
        content: none;
    }
}
.wrapper-header.header-scroll .nav-list li.active a{
    color: #fff!important;
}
#navbar-right .wrapper-phones-navr .a-navr{
    font-weight: bold;
}
.wrapper-header .menus .navbar-principal .nav-list .nav-item:hover:after, .wrapper-header .menus .navbar-principal .nav-list .nav-item.active:after{
    width: 101%;
}
.wrapper-header .menus .navbar-principal .nav-list .nav-item:after{
    left: -1px;
}
.wrapper-header .menus .navbar-principal .nav-list .nav-item:before{
    z-index: -1;
}
.breadcrumb .bread-item.sf:before{
    content: none;
}
.icon-bread-flec{
    font-size: 7px;
    position: absolute;
    top: 3px;
    right: -10px;
}
.icon-bread-flec:before {
    color: #736d6d;
  }
  .details-products .btn-comprar-detail.btn-comprar-scroll{
      width: 84%;
      left: 0;
      right: 0;
      margin: auto;
      top: 6em;
      background: transparent;
      padding: 0;
  }
  .details-products .btn-comprar-detail.btn-comprar-scroll .scr2{
      margin: 0 15px;
  }
  .details-products .btn-comprar-detail.btn-comprar-scroll .scrl{
    width: 50%;
    float: right;
    background-color: #e5f4fa;
    padding: 1em;
}
.azul{
    background-color: #1469b1;
    padding: 0.4em 0;
}
.wrapper-select-cart{
    position: relative;
}

.lineas{
    height: 5em;
    position: absolute;
    z-index: 11;
}
.lineas.iz{

}
.lineas.cen{
right: 38%;
}
.lineas.der{
    left: -32px;
}