.our-shops {
    position: relative;
    padding: 3em 0;


    .accordion {
        width: 41%;
        margin: inherit;

        .accordion-content {
            .content-map {
                width: 100%;
                height: 200px;
                display: none;
            }

            .info-shops {
                .icon-whatsapp {
                    color: #2EB72C;
                }
            }
        }
    }

    .wrapper-map-desktop {
        width: calc(100% - 41.3%);
        height: 74vh;

        .content-map {
            width: 100%;
            height: 100%;
            display: none;

            &.show {
                display: block !important;
            }
        }
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}