.our-services {
    padding: 3em 0 0;
    overflow: hidden;
    .col-service {

        @media (min-width: 992px) {
            >.container {
                >.row {
                    display: flex;
                }
            }
        }
        
        &:nth-child(even) {
            background-color: $color-lightSecondary;
        }

        .info-service,
        .img-service {
            width: 50%;
        }

        .img-service {
            border: .5px solid $color-white;
            background-color: $color-primary;

            img {
                opacity: .8;
            }
        }

        .info-service {
            padding: 1.5em 2em;

            .title-service {
                font-size: .95em;
            }

            .link-mas-info {
                font-size: .75em;
                font-weight: bold;
                color: $color-black;
                position: absolute;
                bottom: 15%;
                z-index: 1;
                &:before {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 100%;
                    background-color: $color-primary;
                    transition: .3s;
                    z-index: -1;
                    top: 5px;
                    left: -6px;
                }
                &:hover {
                    color: $color-white;
                    &:before {
                        width: 80%;
                    }
                }

                @media (min-width:992px) and (max-width:1700px) {
                    position: relative;
                }
                .icon-whatsapp {
                    color: #2EB72C;
                    font-size: 1.8em;
                    margin-left: 1em;
                    border-radius: 50%;
                    transition: .3s;
                    &:hover {
                        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
                    }
                }
            }

            .p-internas {
                line-height: 1.35;
                font-size: .75em;
            }
        }

        .wrapper-service {
            display: flex;
        }
    }
}