.payment-methods {
    padding: 3em 0;
    
    .font-bold {
        font-size: 1.2em;
    }
    .div-imgs {

        .content-imgs-trjt {
            margin-top: 2rem;

            .img-trjt {
                width: 92%;
            }
        }
    }
    
    .icon-visa {
        font-size: 5em;
    }
}
