.sct-product {
    .title-busq {
        float: left;
    }
    .select-int {
        float: right;
        text-align: right;
        select {
            font-size: .8rem;
        }
    }
}
.padd-tselect {
    padding: 1em 0;
}