.main-shopping-cart {
    padding-top: 8em;
    padding-bottom: 2em;

    .title-cart {
        font-size: 1.3em;
    }

    .title-int-cart {
        font-size: 1.1em;
        margin: 1.1em 0 .8em;
    }

    .table-cart {
        .table-header-cart {
            background-color: $color-lightBlue;
            padding: .8em 0;

            .celda-header {
                font-size: .9em;
                display: inline-block;
            }
        }

        .table-detail-cart {
            border: 1px solid $color-lightBlue;
            border-top: 0;
            display: flex;
            align-items: center;
            padding: 1.3em 0;

            .celda-detail {

                .product-cart {
                    text-align: left;
                    padding-top: .5em;

                    .span-prod-cart {
                        display: block;
                        line-height: 1.3;

                        &:first-child {
                            font-size: .95em;
                        }

                        &:nth-child(2) {
                            font-size: .73em;
                        }

                        &:last-child {
                            font-size: .61em;
                            opacity: .6;
                            letter-spacing: .5px;
                        }
                    }
                }

                .icon-delete {
                    font-size: 1.8em;
                    opacity: .4;
                }

                .content-img-cart {

                    .img-detail-cart {
                        width: 3.5em;
                        position: absolute;
                        left: 1.3em;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }

                .add-purchase {
                    border: 0;
                    width: 100%;

                    .qty {
                        width: 60%;
                        margin: auto;
                        border: 0;
                    }
                }
            }
        }
    }

    .select-circle {
        .img-tarjetas {
            position: absolute;
            width: 13em;
            left: 124%;
            bottom: -4px;

            img {
                width: 3em;
                display: inline-block;
            }
        }
    }

    .pay-fixed {
        position: fixed;
        padding: 1.5em 1em;
    }

    .wrapper-pay {
        width: 85%;

        .total {
            background-color: $color-lightBlue;

            .title-total {
                font-size: 1.45em;
                margin-bottom: 0;
            }

            .span-peq {
                font-size: .85rem;
            }

            .quantity-pay {
                background-color: $color-white;
                padding: 1.2em 0;
                margin-top: 1em;

                .final-payment {
                    font-size: 2.5em;
                    position: relative;
                    position: relative;
                    width: max-content;
                    margin: auto;
                    line-height: .8;

                    &:before {
                        position: absolute;
                        content: "S/";
                        top: 0;
                        right: 105%;
                        font-size: .71em;
                    }
                }

                .title-igv {
                    opacity: .7;
                    font-size: .85em;
                }
            }
        }

        .pd-pay {
            padding: 5px 25px 15px;
        }

        .discount-coupon {
            background: url('../../assets/images/icons/Ticket.jpg');
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;

            .pd-pay {
                padding: 1em 2.3em;
            }

            .title-dsct {
                font-size: .95em;
                margin: 0 0 .5em;
            }

            .p-internas {
                font-size: .7em;
                width: 80%;
                margin: auto;
                line-height: 1.2;
            }

            .div-input {
                height: 2.4rem;
                margin: .7em 0 0;
                background-color: $color-white;

                input,
                button {
                    border: 0;
                    outline: none;
                    height: 100%;
                }

                input {
                    width: 55%;
                    text-align: center;
                    font-size: .8em;
                }

                .btn-val {
                    width: 32%;
                    background: url('../../assets/images/normal.png');
                    background-repeat: no-repeat;
                    color: $color-white;
                    transition: background .3s;
                    &:hover {
                        background: url('../../assets/images/hover.png');
                        background-repeat: no-repeat;
                    }
                }

                .btn-delete {
                    width: 13%;
                    background-color: $color-lightSecondary;

                    .icon-delete {
                        font-size: 1.5em;
                        &:hover {
                            color: $color-terciary;
                        }
                    }
                }
            }
        }

        .btn-pay-scomp {
            background-color: $color-lightBlue;
            height: auto;

            .checkbox {
                padding: 0;
            }

            .btn-pay {
                color: $color-white;
                width: 100%;
                background-color: $color-primary;
                font-size: 1.8em;
                letter-spacing: 2px;
                transition: .5s;
                position: relative;
                display: block;
                &:hover {
                    background-color: $color-secondary;
                }
                
                img {
                    width: 1.5rem;
                    position: absolute;
                }
            }

            .sg-comp {
                color: $color-black;
                width: 100%;
                margin: .8em 0 0;
                font-size: 1.15em;
                transition: .3s;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}
