.spare-parts {
    .nav-spare-parts {
        .title-nav-s-parts {
            background-color: $color-secondary;
            color: $color-white;
            padding: .9em 0;
            text-align: center;
            font-size: 1.25em;
        }
    
        .list-nav-sparts {
            .item-sparts {
                .link-sparts {
                    padding: 1.2em 0;
                    width: 100%;
                    float: left;
                    background: transparent;
                    transition: background .5s;
                    color: $color-black;
                    border-bottom: 1px solid $color-lightBlue;
                    .icon-circle {
                        opacity: .2;
                        font-size: .8rem;
                        margin: 0 .5rem;
                    }
                }
                &:hover,
                &.active {
                    .link-sparts {
                        background-color: $color-lightBlue;
                        font-family: $font-bold;
                        .icon-circle {
                            color: $color-primary;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    } 
    .select-int {
        text-align: right;
        float: right;
    }   
}
.container-nav {
    .select-int {
        padding: 0;
        margin-top: 1em;

        .wrapper-select-cart {
            width: 100%;

            .dropdown {
                height: 3.4em;
            }
        }
        select {
            background-color: $color-primary !important;
            color: $color-white;
            font-size: 1.3em;
            position: relative;
            &:before {
                position: absolute;
                right: 0;
                width: 5%;
                height: 100%;
                background-color: rgba(255,255,255,.3);
                top: 0;
            }
        }
    }
}