.info-company {
    padding: 3em 0;

    .content-vm {
        background-color: $color-lightBlue;

        .text-mv {
            line-height: 1.85;
        }
    }

    .content-img-mv {
        width: 100%;
        margin: auto;
        height: 20em;
        background-color: $color-secondary;

        @media (min-width:1200px) {
            width: 90%;
            height: 26.6em;
        }

        .img100-cover {
            opacity: .85;
        }
    }

    .title-mv {
        padding: 1.5em 0 1em;
        font-size: 2em;
    }
    .img-values {
        text-align: center;
        width: 6em;
        height: 6.5em;
        margin: auto;
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    .info-values {
        .title-value {
            font-size: 1.1em;
        }
        .p-internas {
            line-height: 1.3;
            margin-bottom: 0;
        }
    }
}