.sct-banner .content-text-banner{z-index: 2;}
.wrapper-header .menus .navbar-principal .nav-list .nav-item .nav-link{font-family: "barlowbold";    font-size: 0.97em;}
.wrapper-header .menus .navbar-top .link-nav-top{font-size: 0.8em;}
.wrapper-header .menus #menu-btn{
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
}
.wrapper-header .menus #menu-btn:hover{background-color: #ffffff; }
.wrapper-header .menus #menu-btn:hover:before{color: #000000;}
.wrapper-header .menus #menu-btn:hover:after{color: #000000;}
@media (min-width: 320px) and (max-width: 767px){
  
}
@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 992px) and (max-width: 1199px){

}
@media (min-width: 1200px) and (max-width: 1400px){
  .sct-video .img-product-banner{width: 41%;}
}
@media (min-width: 1200px) and (max-width: 1600px){
.wrapper-header .menus .navbar-principal .nav-list .nav-item .nav-link{padding: 0.7em 1.4em;font-size: 14px;}
.sct-banner .img-product-banner.llnt{width: 28rem;}
.sct-banner .img-product-banner{bottom: -48px;}
.sct-banner .content-text-banner.prdcts{bottom: 100px;}
.sct-banner .content-text-banner .title-banner{font-size: 30px;}
.sct-product .title-busq{font-size: 22px;}
.wrapper-header .menus .navbar-top .link-nav-top{font-size: 13px;}
.wrapper-header .menus .navbar-top .link-nav-phones{font-size: 17px;}
.wrapper-header .menus #menu-btn{top: 27px;}
  .wrapper-header .menus .navbar-principal{padding-top: 0.5em;}
  .wrapper-header .menus .navbar-top{margin-top: 14px;}
  
}
@media (min-width: 1400px) and (max-width: 1600px){
.sct-video .img-product-banner{width: 41%;}
}
@media (min-width: 1601px) and (max-width: 2000px){
  .sct-banner .img-product-banner.llnt{width: 31rem;}
  .sct-banner .img-product-banner{bottom: -45px}
  .sct-banner .content-text-banner.prdcts{bottom: 170px;}
  .wrapper-header .menus #menu-btn{top: 45px;}
  .wrapper-header .menus .navbar-principal{padding-top: 0.8em;}
  .wrapper-header .menus .navbar-top{margin-top: 17px;}
  .wrapper-header .menus .navbar-top .link-nav-phones{font-size: 1em;}
  .sct-video .img-product-banner{width: 41%;}
}
