.wrapper-footer {
    background-color: $color-primary;
    margin-top: 2em;
    .bg-suscription {
        background-color: $color-secondary;
        padding: 1em 0;

        .wrapper-suscription {
            color: $color-white;
            margin: auto;
            
            .content-text-susc {

                .icon-sobreBig {
                    font-size: 2em;
                    margin-right: .5em;
                }

                .p-internas {
                    line-height: 1;
                }
                .title-mob-sus {
                    margin-bottom: 1em;
                }
            }

            .content-input-susc {
                position: relative;
                .suscription {
                    position: relative;
                    left: -2%;
                    height: 2.5em;
                    border: 0;
                    background-color: $color-terciary;
                    font-size: .78em;
                    letter-spacing: 1px;
                    transition: .3s;
                    
                    &:hover {
                        background-color: $color-gray;
                    }
                    label.error{
                        display: none !important;
                    }
                    
                }

                input {
                    border: 0;
                    color: black;
                    padding: .9em .5em;
                    font-size: .8em;
                    outline: none;
                    width: 14em;
                    height: 100%;
                    border: 2px solid white;
                    &.error {
                        border: 2px solid $color-terciary;
                    }
                }

                .btn-suscription {
                    width: calc(14em - 100%);
                    border: 0;
                    background: transparent;
                    outline: none;
                    height: 97%;
                    padding: 0 1em;
                    
                }
            }

        }

    }

    footer {
        padding: 1em 0 .5em;
        .wrapper-nav-footer {
            margin-bottom: 2em;

            .list-f {
                width: 15%;
                float: left;
    
                .item-f {

                    .link-f {
                        font-size: .7em;
                        color: $color-white;

                        &.text-emailF {
                            font-size: .8em;
                        }

                    }
                    &:hover {
                        .link-f {
                            opacity: .8;
                        }
                    }
                }
            }
            .item-contact {
                width: 15%;
                float: left;
                a {
                    color: $color-white;
                }
                .item-f {
                    line-height: 1.3;
                }
                .icon-f {
                    color: $color-white;
                    margin-right: .5em;
                    font-size: .7rem;
                }
                
                .phones-f {
                    font-size: .95em;
                }
            }
        }

        .crd {
            font-family: arial;
            font-size: 10px;
            color: $color-white;
            opacity: .6;

            a {
                color: $color-white;
            }
        }

        .content-met-pag {
            position: absolute;
            bottom: -26px;
            left: 0;
            right: 0;
            text-align: center;

            ul {
                margin: 0 .85em ;
            }
            .list-img-met {
                width: 3.2em;
                border-radius: 5px;
                overflow: hidden;

                img {
                    opacity: .8;
                }
            }
        }
    }
}
.title-mob-sus {
    display: none;
}