.wrapper-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    &:before {
        position: absolute;
        content: "";
        background-color: $color-white;
        width: 0%;
        height: 6.7em;
        top: -150%;
        transition: .3s;
        z-index: -1;
    }

    .content-logo {
        position: absolute;
        left: 0;
        top: 0;

        .logo-mob {
            display: none;
        }
        img {
            transition: .5s;
        }
    }
    .menus {
        padding-right: 4em;
        position: relative;

        .navbar-top {
            text-align: right;
            padding-right: 1em;

            .social-network-header {
                margin: 0 .8em;
            }
            .link-nav-phones,
            .link-nav-top,
            .icon-rs-header {
                color: $color-white;
            }
            .link-nav-top {
                opacity: .8;
                font-size: .9em;
                padding: .5em .8em;
                transition: .3s;
                position: relative;
                font-weight:bold;

                &:after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 100%;
                    left: 0;
                    right: 0;
                    top: 0;
                    background-color:$color-primary;
                    transition: width .4s;
                    z-index: -1;
                }
                &:hover {
                    &:after {
                        width: 100%;
                    }
                }
            }
            .link-nav-phones {
                padding: .5em .8em;
                font-size: 1.1em;
                transition: .3s;
                font-weight: bold;
                &:hover {
                    color: $color-primary;
                }
            }
            .icon-rs-header {
                padding: 0.2em;
                font-size: 1.15em;
                position: relative;
                z-index: 10;

                &:after {
                    position: absolute;
                    content: "";
                    width: 101%;
                    height: 101%;
                    background-color: $color-primary;
                    border-radius: 50%;
                    transform: scale(0);
                    transition: .3s;
                    left: 0;
                    right: 0;
                    z-index: -1;
                    top: 0;
                    bottom: 0;
                }
                &:hover {
                    &:after {
                        transform: scale(1);
                    }
                }
            }
            .icon-phone,
            .icon-wts {
                padding-right: .3em;
            }
        }
        .navbar-principal {
            padding-top: 1em;
            .nav-list {
                .nav-item {
                    color: $color-white;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 1px;
                        height: 60%;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        margin: auto;
                        background-color: $color-white;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 100%;
                        left: 0;
                        right: 0;
                        top: 0;
                        background-color:$color-primary;
                        transition: width .4s;
                        z-index: -1;
                    }

                    &:last-child {
                        &:before {
                            display: none;
                        }
                    }

                    .nav-link {
                        padding: .7em 1.8em;
                        font-size: .98em;
                        color: currentColor;

                    }

                    &:hover,
                    &.active {
                        &:after {
                            width: 100%;
                        }

                        .nav-link {
                            //background-color: $color-primary;
                            font-family: $font-bold;
                        }
                    }
                }
            }
        }
        #menu-btn {
            position: absolute;
            cursor: pointer;
            z-index: 10000;
            font-size: 1.2em;
            color: $color-white;
            padding: 1.2em .8em .5em;
            border: 1px solid;
            top: 21px;
            right: 0;
            
            &:after {
                content: "MENÚ";
                position: absolute;
                top: 13px;
                margin: auto;
                left: 15px;
                right: 0;
                font-family: $font-bold;
                font-size: .4em;
        
            }
        }
        .icons-bsc-car {
            display: inline-block;
            position: relative;
        
            .icon-Lupa,
            .icon-carrito {
                font-size: 1.3rem;
                margin: 15px;
                color: $color-white;
                transition: .3s;

                &:hover {
                    color: $color-primary;
                    font-weight: bold;
                }
            }
            .icon-carrito {
                font-size: 1.7rem;
            }
        }
    }
    &.header-scroll {
        //background-color: $color-white;
        &:before {
            top: -7%;
            width: 100%;
        }
        padding-bottom: .5em;
        .content-logo {
            
            .logo-mob {
                display: block;
            }
            .logo-dskt {
                display: none;
            }
        }
        .menus {
            .navbar-principal {
                .nav-list {
                    .nav-item {
                        color: $color-black;
                        &:before {
                            background-color: $color-black;
                            opacity: .3;
                        }
    
                        &:last-child {
                            &:before {
                                display: none;
                            }
                        }
                        .nav-link {
                            color: $color-black;
    
                        }
                        &:hover {

                            .nav-link {
                                color: $color-white;
                            }
                        }
                    }
                    
                }
            }
            .navbar-top {
                .link-nav-phones,
                .link-nav-top{
                    color: $color-black;
                    cursor: pointer;
                }
                .link-nav-phones {
                    &:hover {
                        color: $color-primary;
                    }
                }
                
            }
            #menu-btn {
                color: $color-black;

            }
            .icons-bsc-car {
                .icon-Lupa,
                .icon-carrito {
                    color: $color-black;
                    transition: .3s;
                    &:hover {
                        color: $color-primary;
                        font-weight: bold;
                    }
                }

            }
        }
    }
}
#navbar-right {
    background-color: $color-white;
    width: 38vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    padding-top: 7em;
    border-right: 7px solid $color-primary;
    transition: right .8s;
    z-index: 100;
    
    .list-big-nav-right {
        .item-big {
            line-height: 2.8;

            .link-big {
                color: $color-primary;
                font-size: 1.4em;
            }
        }
    }

    .list2-nav-right {
        border-top: 1px solid rgba(167, 162, 162, 0.596);
        border-bottom: 1px solid rgba(167, 162, 162, 0.596);
        padding: 2em 0;

        .item-nav-right {
            line-height: 1.9;

            .link-nav-right {
                color: $color-black;
                font-size: .93em;
                position: relative;

                &:before {
                    position: absolute;
                    left: 2px;
                    content: "";
                    width: 0;
                    height: 2px;
                    background-color: $color-primary;
                    transition: .5s;
                    bottom: -2px;
                }
            }
            &:hover,
            &.active {
                .link-nav-right {
                    color: $color-primary;
                    font-weight: bold;

                    &:before {
                        width: 100%;
                    }
                    
                }
            }
        }
    }
    .wrapper-phones-navr {
        margin: 1.5em 0 1.8em;
        .a-navr {
            color: $color-black;
            margin-right: 2em;
            .icon-phone,
            .icon-wts {
                margin-right: 5px;
            }
        }
    }
    .wrapper-redsocials-r {
        .a-navr {
            color: $color-primary;
            font-size: 1.4em;
            margin-right: .7em;
        }
    }
    .link-nav-top  {
        color: $color-white;
        margin: 2em 1em 2em 0;
        background-color: $color-primary;
        padding: 5px 8px;
    }
}
.wrapper-header .menus .navbar-top .link-nav-top:hover{
    color:#fff;
}

.wrapper-header.header-scroll .menus .navbar-top .icon-rs-header{
    color:  $color-primary;
    cursor: pointer;
}
.wrapper-header.header-scroll .menus .navbar-top .icon-rs-header:hover{
    color: #fff;
}
